/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}

/* .no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
} */


/* regole di debug */
[class*="col-"] {
  min-height: 60px;
  background-color: lightgreen;
  border: solid 1px  #000;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* .container-fluid{
  background-color: pink;
} */

nav{
  background-color: #2C3E50;
  min-height: 100px;
}

/* section 1 */

.section1{
  background-color: #1ABC9C;
  min-height: 400px;
}

/* section2 */
.section2{
  background-color: lightgrey;
  min-height: 400px;
}

/* section3 */
.section3{
  background-color: #1ABC9C;
  min-height: 400px;
}

.section4{
  background-color: lightgrey;
  min-height: 400px;
}

/* footer */

.footer-up{
background-color: #2C3E50;
min-height: 200px;
}

.footer-bottom{
  background-color: #1A252F;
  min-height: 100px;
}
