/* regole generali */



img {
  max-width:340px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 40px;
}

/* .no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
} */


/* regole di debug */
[class*="col-"] {
  min-height: 60px;
  background-color: lightgreen;
  border: solid 1px  #000;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* .container-fluid{
  background-color: pink;
} */

nav{
  background-color: #2C3E50;
  min-height: 100px;
}

nav .navbar-default{
    background-color: #2C3E50;
    border: none;
    padding-top: 20px;
}

.navbar-default .navbar-right>li>a {
  color: white;
  font-size: 17px;
}

.navbar-header .navbar-brand{
  color: white;
  font-size: 28px;
}
/* section 1 */

.section1{
  background-color: #1ABC9C;
  min-height: 400px;
}

.avatar{
  max-width:250px;
  height: auto;
}

#jumbotron {
  text-align: center;
}

#jumbotron h1{
  color: white;
  font-size: 60px;
  padding-top: 10px;
}

.riga-stella{
  color: white
}

.riga{
  display:inline-block;
  width: 100%;
  max-width: 120px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}


#star-star{
  font-size: 33px;
  padding: 0 10px;
}

#jumbotron h2:nth-child(4){
  color: white;
  font-size: 25px;
  padding-bottom: 70px;
}

/* section2 */
.section2{
  background-color: white;
  min-height: 400px;
}


#portfolio-up{
  padding-top: 60px;
  padding-bottom: 20px;
}

#portfolio-up>*{
  text-align: center;
  color:#2C3E50;
}

#portfolio-up h1:first-child{
  font-size: 50px;
}

.riga2{
  display:inline-block;
  width: 100%;
  max-width: 120px;
  height: 4px;
  background-color: #2C3E50;
  border-radius: 5px;
  margin-bottom: 5px;
}

#portfolio-bottom{
  text-align: center;
}

/* section3 */
.section3{
  background-color: #1ABC9C;
  min-height: 400px;
  margin-top: 40px;
}

#about-top{
  text-align: center;
}

#about-top h1:first-child{
  font-size: 50px;
  color: white;
  padding-top: 40px;
  padding-bottom: 10px;
}

#about-bottom{
  padding-top: 40px;
  text-align: left;
  font-size: 18px;
  line-height:1.6;
  color: white;
}

.download-for-free-button {
  background-color: #1ABC9C;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

#download-for-free{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
}

.section4{
  background-color: lightgrey;
  min-height: 400px;
}

/* footer */

.footer-up{
background-color: #2C3E50;
min-height: 200px;
}

.footer-bottom{
  background-color: #1A252F;
  min-height: 100px;
}
